<section class="presentation-section">
    <div class="text-center pt-16">
        <img [src]="profileUrl" alt="Danny Salazar" class="rounded-full mx-auto shadow-2xl mb-3">
        <h1 class="text-5xl mb-4 text-green-500">Hola!</h1>
        <h1 class="text-5xl mb-4">Soy Danny Salazar</h1>
        <p class="text-xl mb-16">👋 Bienvenido a mi portafolio web</p>
        <p>
            "Soy Desarrollador Full Stack con más de 3 años de experiencia en Perú, te invito a revisar mi portafolio,
            en dónde podrás visualizar las empresas en las cuáles me desempeñé y las tecnologías o lenguajes que me
            ayudaron a desarrollar proyectos, solucionar problemas y mejorar procesos..."
        </p>
    </div>
</section>
